<form action="/form" class="flex flex-col gap-y-4">
  <label for="question" class="flex flex-col gap-y-1">
    <span class="font-bold">Question</span>
    <input class="px-3 py-2 border rounded-lg max-w-xl" name="question" placeholder="How is it today?" type="text">
  </label>
  <label for="answer" class="flex flex-col gap-y-1">
    <span class="font-bold">Answer</span>
    <input class="px-3 py-2 border rounded-lg max-w-xl" name="answer" placeholder="A fantastic day" type="text">
  </label>
  <button class="px-3 py-2 bg-teal-700 rounded-lg max-w-xl text-white uppercase">Add</button>
</form>